# Dependencies & builds (IGNORE these)
node_modules/
dist/
dist-ssr/

# Environment variables (IGNORE - sensitive data!)
.env
.env.local
.env.*.local

# Logs (IGNORE)
*.log
npm-debug.log*
yarn-debug.log*

# OS files (IGNORE)
.DS_Store
.vscode/*
.idea

# Editor temporary files (IGNORE)
*.suo
*.ntvs*
*.njsproj
*.sw?